* { 
	margin: 0;
	padding: 0;
	font-family: 'Roboto-Light';
}

.App {
	width: 65%;
	height: 100vh;
	margin: auto;
/*	border: 1px solid;*/
}

/* night mode css start */

.App { 
	background-image: linear-gradient(to right, #56ab2f, #a8e063);
	color: #000000;
}

.App.night {
	background-image: linear-gradient(to right, #141e30, #141e30);
	color: #ffffff;
}

.App-Wrapper.night {
	background-color: #0c1524;
}

/* night mode css end */

.nightModeContainer {
	position: absolute;
	right: 0;
	padding: 1rem;
}

.nightModeContainer > .nightModeBtn{
	background-color: #ffffff;
	color: #323232;
	padding: 0.2rem;
	border : 1px solid #323232;
}

.App.night > .nightModeContainer > .nightModeBtn{
	background-color: #323232;
	color: #ffffff;
	border : 1px solid #ffffff;
}

@media screen and (max-width: 576px) {
	.App {
		width: 100%;
	}
}